h4{
    color: white;
    text-shadow: 0 0 5px #b44593, 0 0 10px #b44593, 0 0 20px #b44593, 0 0 40px #b44593;
}
 button{
    background-color: #b44593; /* Neon button background */
    border: none;
    color: white;
}

 button:hover{
    background-color: #b44593;
    color: white;
    box-shadow: 0 0 5px #b44593, 0 0 10px #b44593, 0 0 20px #b44593, 0 0 40px #b44593;
}

.btn-save{
    background-color: #b44593; /* Neon button background */
    border: none;
    color: white;
    border-radius: 5px;
}
  
  /* Style for the disabled button */
  .btn-save:disabled {
    background-color: #d486bd; 
    color: white;
    cursor: not-allowed;
    border-radius: 5px;
  }