

<div class="contact-page">

    <!-- Profile Section -->
    <div class="profile-section">
        <img src="assets\Images\profile.jpg" alt="Your Name" class="profile-photo">
        <h1>Miloš Milinkov</h1>
        <p>Brief bio or introduction here...</p>
    </div>
    <div class="thesis-section">
    <h1>Project info</h1>
    <p><strong>Silicon Lottery Project</strong></p>
    <p>
        The <strong>"Silicon Lottery"</strong> initiative constitutes a graduate thesis under the auspices of the course <em>"Integration of Software Technologies."</em> Fundamentally, the "Silicon Lottery" encompasses the development of an e-commerce web application, designed to emulate the functionalities of an online retail platform specializing in the sale of computer hardware.
    </p>
    <h2>Technological Frameworks</h2>
    <p>This project will be executed utilizing a triad of technological frameworks:</p>
    <ul>
        <li>AngularJs</li>
        <li>.NET Web API (Version 7.0.3)</li>
        <li>Database Management Systems: Microsoft SQL (Server Version 18, for Production use) and SQLite (for Development purposes)</li>
    </ul>
    <h2>Personal Challenges</h2>
    <p>
        Additionally, the undertaking will involve personal challenges, including comprehensive version control using GIT and the complete development of the application within the Visual Studio Code Integrated Development Environment (IDE).
    </p>
    </div>

    <!-- Details Section -->
    <div class="details-section">
        <h2>Contact Details</h2>
        <p>Email: milos300399&#64;gmail.com</p>
        <p>Phone: +381 66 060 350</p>
        <!-- Add more details as needed -->
    </div>

    <!-- Links Section -->
    <div class="links-section">
        <h2>Connect with Me</h2>
        <a href="https://github.com/MiloshMilinkov" class="social-link">GitHub</a>
        <a href="https://www.linkedin.com/in/milošmilinkov" class="social-link">LinkedIn</a>
        <!-- Add more links as needed -->
    </div>

    <!-- Additional Elements -->
    <!-- Add any other elements you find necessary -->

</div>
