.card {
    border-radius: 25px;
    background-image: url('/assets/Images/signup_background.png');
    background-size: cover; /* or contain, depending on the desired effect */
    background-repeat: no-repeat;
    background-position: center;
  }
  i, p, label{
    color: #ffffff; /* Bright neon text */
        text-shadow: 0 0 5px #b44593, 0 0 10px #b44593, 0 0 20px #b44593, 0 0 40px #b44593;
  }

  .btn{
    background-color: #b44593; /* Neon button background */
    border: none;
    box-shadow: 0 0 5px #b44593, 0 0 10px #b44593, 0 0 20px #b44593, 0 0 40px #b44593;
    color: white;
  }