@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
.table-responsive{
    font-family: 'Orbitron', sans-serif; // Futuristic font
}
strong, a{
    color:white;
}
.fa.fa-plus-circle.text-warning.mx-2 {
    color: #ff0097 !important;
}
.fa.fa-minus-circle.text-warning.me-2 {
    color: #f84ab2 !important;
}